<center> <h1 style="text-align: center;"> <b> Welcome to RailsBet! </b> </h1> </center>
<br>
<center> <b> <%= link_to "Login",  new_user_session_path, class: "navbar-brand" %> </b> </center>
<br>
<center> <b> <%= link_to "Register",  new_user_registration_path, class: "navbar-brand" %> </b> </center>
<br>
<center> <b> <%= link_to "Log out",  destroy_user_session_path, :method => :delete, class: "navbar-brand" %> </b> </center>
<br>
<center> <% @cases.each do |kasa2| %>
    <tr>
      <td><%= kasa2.name %></td>
    <b>  <td><%= link_to 'Show', show_path(id:1) %></td> </b>
    </tr>
    <center><div id="casepic">
      <a style="display:block;width:100%;background:lightgray;">
        <img src="https://i.hizliresim.com/okG07k.png"/>
      </a>
    </div> </center>
  <% end %>
</center>



<center> <b> <p> KODBILEN KALP TOBYMEISTER </p> </b> </center>
