<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag :defaults %>
    <title>RailsBet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <center> <b> <%= link_to "HomePage", root_url, class: "navbar-brand" %> </b> </center>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p
    <%= yield %>
  </body>
</html>
